body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff4757;
    color: white;
    padding: 20px 0;
}

main {
    margin: 30px 0;
}

.avatar img {
    width: 250px;
    border-radius: 20px;
    border: 3px solid #ff4757;
}

button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: #3742fa;
}

footer {
    background-color: #2f3542;
    color: white;
    padding: 10px 0;
}